{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>{% block title %}MediKiosk{% endblock %}</title>

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Tailwind Configuration -->
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        mediblue: '#2563EB',
                        medigreen: '#16A34A',
                        darkblue: '#0F172A'
                    }
                }
            }
        }
    </script>

    <!-- Custom CSS -->
    <link rel="stylesheet"
          href="{% static 'css/style.css' %}">
</head>

<body class="bg-slate-50 text-slate-800">

    {% block content %}
    {% endblock %}

    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>